* {
    box-sizing: border-box;
}


body {
    text-align: center;
    align-content: center;
}

section {
    display: inline-block;
}


fieldset {
    border: none;
}


.searchSpace {
    padding-right: 30px;
}


ul {
    list-style: none;
    display: inline-block;
}