* {
    box-sizing: border-box;

    font-family: 'Pathway Gothic One', sans-serif;

}


body {
    text-align: center;
    align-content: center;
    color: white;
    background-image: url("SpaceBackground-2.jpeg");
    background-attachment: inherit;
}

section {
    display: inline-block;
    background: none;
    list-style: none;
}


fieldset {
    border: none;
}



ul {
    list-style: none;
    background: none;
}

ul li {
    display: inline;
    background: none;
}

input {
    width: auto;
    height: 35px;
    border-radius: 5%;
    letter-spacing: 1px;
    text-align: center;
}

form {
    background: none;
}



fieldset {
    background: none;
}


h1, h2 {
    background: none;
    letter-spacing: 4px;
}

.navBar {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}


.navText {
    font-weight: bolder;
    font-family: sans-serif;
    background: none;
}



.hidden {
    display: none;
}



.spaceImages {
    width: 200px;
    height: 200px;
}

.dateImage {
    width: 400px;
    height: 400px;
}


.title {
    background: none;
}

.dateDescription {
    background: none;
}




.submitInput:hover {
    cursor: pointer;
}

/* This is for the landing page styling */



.landingPage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(SpaceBackground-3.jpeg);
    background-size: 100%;

}

.starWarsText {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: center;
}


.nextPage {
    width: 500px;
    height: 50px;
    cursor: pointer;
}


button {
    background-color: black;
    color: white;
}

.nextPage a {
    color: white;
}

.starWarsText div, p {
    background: black;
}

.crawl {
    position: relative !important;
    top: -100px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
    animation-fill-mode: forwards;


}



@media only screen and (max-width: 550px) {
    .nextPage {
        height: 100px;
    }

    .landingPage {
        background-size: fill;
    }
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opactiy: 1;
        transform: none;
    }
}